@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    padding-top: 20px;
    width: 1400px;
}
.menu_1{
    display: flex;
    justify-content: space-around;
}
.menu_numb{
    padding-right: 20px;
    margin-left: -20px;
    border-right: 1px solid #E2E2E2;
    align-items: center;
    display: flex;
}
.menu_numb i{
    margin-top: -20px;
    margin-left: 10px;
    font-size: 30px;
}
.ur{
    font-family: "Suisse Int'l Trial";
    font-size: 16px;
    width: 100px;
    text-align: center;
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
}
.ur p:hover{
    margin-left: 32px;
    width: 30px;
    background-color: turquoise;
    color: white;
}
.ue{
    padding-right: 20px;
    margin-left: -20px;
    border-right: 1px solid #E2E2E2;
}
.menu_icon{
    padding-right: 20px;
    margin-left: -20px;
    display: flex;
    align-items: center;
    border-right: 1px solid #E2E2E2;
}
.menu_icon i{
    margin-left: 10px;
    color: #808080;
}
.maonline{
    overflow: hidden;
    font-size: 20px;
    font-family: Montserrat;
    padding-left: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 50px;
    width: 240px;
    background: #EFF3F6;
    align-items: center;
}
.online_icon{
    color: white;
    margin-left: 13px;
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: tomato;
}
.online_icon i{
    font-size: 30px;
}
.tonline{
    overflow: hidden;
    font-size: 20px;
    font-family: Montserrat;
    padding-left: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 50px;
    width: 240px;
    background: #EFF3F6;
    align-items: center;
}
.tonline_icon{
    margin-left: 28px;
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: greenyellow;
}
.tonline_icon i{
    font-size: 25px;
    color: white;
}
.glob_nav_header_1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 2px solid #777777;
}
.glob_nav_header_1 li:hover{
    border-bottom: 3px solid red;
    box-sizing: border-box;
}
.glob_nav_header_1 .nav-link{
    margin-left: 40px;
}
.nav-link{
    color: black;
}
.about_top p{
    font-family: Montserrat;
    font-size: 15px;
}
.about_top{
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 50px;
}
.about_top h1{
    font-family: Montserrat;
    font: 30px;
}
span{
    color: #969696;
}
.about_p{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}
.about_p_1{
    width: 500px;
    font-size: 18px;
    font-family: Montserrat;
}
.about_p_2{
    width: 400px;
    font-size: 18px;
    font-family: Montserrat;
}

.contry{
    position: relative;
    padding: 100px 150px;
}
.contry_content_header{
    display: flex;
    justify-content: space-evenly;
}
.contry_content_card_box{
    margin-top: 70px;
    margin: 100px auto;
    margin-bottom: 50px;
    width: 1200px;
    justify-content: space-evenly;
    display: flex;
}
.contry_content_footer{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
.contry_header_1 h3{
    color: red;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}
.contry_header_1 h1{
    font-size: 30px;
    font-family: Montserrat;
}
.contry_header_2{
    margin-left: 120px;
    margin-top: 60px;
    font-size: 20px;
    color: red;
    font-family: Montserrat;
}
.contry_card{
    position: relative;
    width: 240px;
    height: 185px;
    background: #F8F8F8;
}
.contry_card_top img{
    position: absolute;
    top: -50px;
    left: 20px;
}
.contry_card_top h1{
    font-size: 20px;
    font-family: Montserrat;
    margin-top: 55px;
    margin-left: 70px;
}
.contry_card_button{
    width: 190px;
    height: 40px;
    border: 1px solid #969696;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 14px;
    font-family: Open Sans;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 25px;
    transition: all 0.5s;
}
.contry_card_button:hover{
    background-color: #969696;
    color: white;
}
.contry_footer_1{
    margin-left: 20px;
    width: 500px;
    font-size: 18px;
    font-family: Montserrat;
}
span_p{
    color: red;
    border-bottom: 1px solid red;
}
.contry_footer_2{
    margin-left: 24px;
    width: 500px;
    font-size: 18px;
    font-family: Montserrat;
    border: 1px solid #C4C4C4;
    box-sizing: border-box; 
    padding: 10px;
}
.contry_line_1{
    font-family: 'Corinthia';
    position: absolute;
    top: -10px;
    left: 1300px;
}
.contry_line_1 p {
    position: absolute;
    top: 55px;
    left: -85px;
}
.contry_line_2{
    font-family: 'Corinthia';
    position: absolute;
    top: 320px;
    left: -5px;
}
.contry_line_2 p {
    position: absolute;
    top: 80px;
    left: 90px;
}
.our_choice{
    position: relative;
    margin-top: 50px;
    background: url(./img/montenegro-hero\ 3.png);
    height: 450px;
}
.our_choice_gradient{
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.04) 14.37%, rgba(0, 0, 0, 0.32) 100%);
    width: 100%;
    height: 100%;
}
.our_choice h1{
    margin-top: 120px;
    text-align: center;
    width: 600px;
    color: white;
    font-family: Montserrat;
    font: 40px;
}
.our_choice h2{
    position: absolute;
    top: 50px;
    left: 200px;
    font-family: Montserrat;
    font-size: 200px;
    color: rgba(255, 255, 255, 0.2);
}
.dashed{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 60px;
    height: 60px;
    border: 1.2px dashed #969696;
    box-sizing: border-box;
    border-radius: 100%;
    color: #969696;
    font-size: 30px;
}
.our_choice_card:hover .dashed{
    color: tomato;
    border: 1px dashed tomato;
}
.our_choice_drop{
    position: absolute;
    top: 270px;
    left: 40px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 1290px;
    height: 500px;
}
.our_choice_card{
    width: 430px;
    padding: 50px 100px 10px 70px ;
}
.our_choice_card1{
    width: 430px;
    height: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.shoice_button{
    margin-left: 70px;
    background: #DD4053;
    border-radius: 2px;
    width: 240px;
    height: 50px;
    font-family: Montserrat;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.top_level{
    position: relative;
    background-color: #F8F8F8;
    padding: 100px;
    margin-top: 400px;
}
.img{
    width: 100%;
    background: url(./img/Sveti-Stefan-1024x1010\ 2.png);
}
.top_level h1{
    font-family: Montserrat;
    font-size: 30px;
}
.top_level p{
    font-family: Montserrat;
    font-size: 20px;
    color: #4F4F4F;
}
.top_level_card_box{
    justify-content: space-evenly;
    display: flex;
}
.level_card{
    margin: 0 5px 0 5px;
    height: 280px;
    width: 390px;
    background-color: white;
    padding: 20px;
}
.level_card_top{
    display: flex;
    justify-content: space-evenly;
    height: 100px;
}
.level_card_top h1{
    font-family: Montserrat;
    font-size: 20px;
}
.level_card_top p{
    font-family: Montserrat;
    font-size: 16px;
    color:  rgba(150, 150, 150, 0.5);;
}
.level_card h3 {
    font-size: 16px;
    font-family: Montserrat;
    color: #848484;
}
.level_card:hover{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
    border-top: 4px solid tomato;
}
.colective_header{
    padding: 50px;
    display: flex;
    border-bottom: 1px solid #D0D0D0;
}
.colective_header h1{
    width: 700px;
    text-align: start;
    font-family: Montserrat;
    font-size: 30px;
}
.colective_header h6{
    margin: auto;
    font-family: Montserrat;
    font-size: 20px;
}
.colective_header p{
    margin: auto;
    font-family: Montserrat;
    font-size: 20px;
    color: #D0D0D0;
}
.colective_content{
    display: flex;
    flex-wrap: wrap;
}
.colective_card{
    margin: auto;
    margin-top: 60px;
    display: flex;
}
.card_info{
    width: 400px;
    height: 150px;
    padding-top: -20px;
    padding-left: 20px;
}
.colective_card h1{
    height: 40px;
    font-family: Montserrat;
    font-size: 20px;
}
.colective_card p{
    height: 60px;
    font-family: Montserrat;
    font-size: 16px;
    color: #999999;
}
.card_info a{
    margin-top: 20px;
    font-family: Montserrat;
    font-size: 20px;
    color: #323232;
}
.colective_line_1{
    margin-left: 70px;
    margin-right: 120px;
    margin-top: 60px;
    width: 550px;
    height: 1px;
    background: #D0D0D0;
}
.colective_line_2{
    margin-top: 60px;
    width: 550px;
    height: 1px;
    background: #D0D0D0;
}
.reqizit_block{
    width: 300px;
    height: 660px;
    border-top: 6px solid red;
    background-color: white;
}
.reqizit_file{
    display: flex;
    height: 110px;
}
.reqizit_file img{
    width: 91px;
    height: 91px;
}
.reqizit_file p{
    margin-top: 20px;
    width: 200px;
    height: 110px;
    font-family: Montserrat;
    font-size: 14px;
    color: #787878;
}
.reqizit{
    margin-top: 100px;
    padding: 70px;
    display: flex;
    background: #F8F8F8;
    height: 845px;
}
.reqizit_p p{
    width: 720px;
    margin-right: 150px;
    color: #252525;
    font-family: Montserrat;
    font: 16px;
}
.reqizit_p h6{
    width: 720px;
    margin-right: 150px;
    color: #252525;
    font-family: Montserrat;
    padding-left: 20px;
    font: 16px;
}
.reqizit_p h5{
    width: 720px;
    margin-right: 150px;
    color: red;
    font-family: Montserrat;
    font: 16px;
}
.reqizit_line{
    margin-top: 50px;
    margin-bottom: 30px;
    width: 715px;
    height: 2px;
    background: #E3E3E3;
}
.facts{
    background-color: white;
    padding-top: 100px;
    padding-left: 100px;
}
.facts h1{
    font-family: Montserrat;
    font-size: 30px;
}
.fact_header{
    display: flex;
}
.num{
    font-family: Montserrat;
    width: 20px;
    height: 20px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 2px;
    font-size: 20px;
    margin-right: 20px;
}
.fact_header h1{
    font-family: Montserrat;
    font-size: 20px;
}
.fact_card p{
    width: 760px;
    color: #252525;
    font-family: Montserrat;
    font-size: 16px;
}
.fact_card h6{
    width: 760px;
    color: black;
    font-family: Montserrat;
    font-size: 16px;
}
.fact_card{
    margin-top: 50px;
    padding-bottom: 20px;
    width: 760px;
    border-bottom: 1px solid #777777;
}
.footer_top{
    padding-bottom: 40px;
    margin-top: 50px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(29, 29, 29, 0.2);;
    width: 1100px;
    margin: 40px auto 0 auto;
}
.footer_top img{
    width: 156px;
    height: 86px;
}
.footer_top_munu_1{
    font-family: "Suisse Int'l Trial";
    font-size: 15px;
}
.footer_top_munu_1 p{
    margin: 2px;
}
.footer_top_munu_2{
    font-family: "Suisse Int'l Trial";
    font-size: 15px;
}
.footer_top_munu_2 p{
    margin: 2px;
}
.footer_top_p p {
    font-size: 12px;
    color: #3E3E3E;
    opacity: 0.5;
}
.footer_top_p h4{
    font-size: 15px;
}
.footer_top_number h4{
    font-size: 12px;
    color: #3E3E3E;
    opacity: 0.5; 
}
.footer_top_number{
    font-size: 15px;
}
.footer_bottom{
    display: flex;
    padding: 20px 150px 0 150px;
}
.footer_bottom_i{
    width: 100%;
    text-align: end;
}
.footer_bottom_i i {
    color: #3E3E3E;
}
.footer_bottom_p{
    position: absolute;
    color: rgba(62, 62, 62, 0.5);
    font-size: 15px;
    width: 600px;
}
.footer{
    margin-top: 100px;
    padding: 30px;
    background: #F8F8F8;
    height: 260px;
}
.footer_gradient{
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #ffffff 15%, rgba(232, 232, 232, 0) 51.87%, #FFFFFF 100%);
}